body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #830E0D;
	padding: 0px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif; 
	text-shadow: 2px 2px 5px gold;   
}

.navbar-inverse {
	background-color: #830E0D;
}

